@use "functions";

$bg-color: #f6ebda;
$bg-secondary: #f9d9aa;

$text-primary: #000000;
$text-secondary: #ff902b;
$text-gray: #7e7d7a;
$text-disbale: #ffd28f;

$btn-bg: #2f2105;
$btn-color: #ffffff;

$border-color: #ffffff;
