@use "functions";

$bg-color: #e2e2e2;
$bg-secondary: #cecece;

$text-primary: #000000;
$text-secondary: #383838;

$text-gray: #7e7d7a;
$text-disbale: #ffd28f;

$btn-bg: #2f2105;
$btn-color: #ffffff;

$border-color: #383838;
