@use "functions";

// background color
$bg-color-dark: #000000;
$bg-color-light: #Ffffff;

// text color
$text-primary-dark: rgba(255, 255, 255, 0.64);
$text-primary-light: #33373d;

$text-highlight-light: #ffffff;
$text-highlight-dark: #000000;