@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.navbar-container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  @include flex-space-between;
  padding: 25px 50px;
  backdrop-filter: blur(4px);

  .navs {
    display: flex;
    align-items: center;
    gap: 12px;

    .nav {
      cursor: pointer;
      transition: color 0.2s linear;
      color: var(--text-primary);
      padding: 6px 10px;
      font-size: 12px;

      &.button {
        height: 100%;
        background-color: #8952e0;
        color: #FFFFFF;
        border-radius: 6px;
      }

      &.toggle-theme {
        height: 100%;
        @include flex-center;
        padding: 4px 10px;

        &:hover {
          background-color: #bdbdbd4f;
          border-radius: 6px;
        }
      }
    }
  }
}