@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@font-face {
  font-family: "Aliferous";
  src: url("../../assets/fonts/aliferous/Aliferous Regular.otf")
      format("opentype"),
    url("../../assets/fonts/aliferous/Aliferous Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("../../assets/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Define font family variable */
:root {
  --poppins: "Poppins", sans-serif;
  --aliferous: "Aliferous", serif;
  --boldris: "boldris", serif;
  --font-weight-regular: 500;
  --font-size-medium: 16px;
  --font-size-regular: 20px;
}
