@use "../abstract/variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

html,
#root {
  scroll-behavior: smooth;
}

input[type="password"]::-ms-reveal,
/* For Microsoft Edge */
input[type="password"]::-ms-clear,
/* For Edge clear button */
input[type="password"]::-webkit-clear-button,
/* For Chrome/Safari clear button */
input[type="password"]::-webwkit-inner-spin-button {
  /* Just in case */
  display: none;
}
textarea {
  background: transparent;
}

/* Scrollbar styles for dark theme */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: $bg-color;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: $bg-color;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $text-secondary;
  border-radius: 10px;
  border: 2px solid $bg-color; // creates a "padding" effect
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: lighten($text-secondary, 10%); // subtle highlight on hover
}

/* Corner (where horizontal and vertical scrollbars meet) */
::-webkit-scrollbar-corner {
  background: $bg-color;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
}

button {
  background-color: transparent;
  color: $text-primary;
  border: none;
  outline: none;
}


a {
  text-decoration: none;
  color: inherit;
}
