@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

// Global Typography Styles
* {
  font-family: var(--poppins);
  font-family: "Josefin Sans", sans-serif;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-medium);
}
