@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.home-page {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 60px;
  background-color: var(--bg-color);
}